# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
static/uploads/*
!static/uploads/.gitkeep
user_logs/*
!user_logs/.gitkeep

# Database
*.db
*.sqlite3

# Credentials
*.json
*.pem
*.key

# OS specific
.DS_Store
Thumbs.db

venv/
lucid-diode-452919-p1-e5138e5e4227.json